* {
  font-size: 62.5%;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #d0d5e4;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

main {
  width: 120rem;
  height: 80rem;
  background-color: #fff;
  border-radius: 2rem;
}
